body{
    
   background: #F4F4F4;
    margin: 0;
}

.link-title{
    
    text-decoration: none;
    font-size: 24px;
    color: #44444444;
}


.container{
    width: 780px;
    margin: 0 auto;
    background: #FFF;
        box-shadow: 1px 2px 4px 6px;
}
    
}


.header{
    
    padding: 45px 0 20px 40px;
    
    
    
}



.menu{
    
    
    background: #3b7;
    padding: 6px 0 6px 40px;
}



.menu a{
    
    
    color:antiquewhite;
    text-decoration: none;
    font-size: 14px;
    font-family: cursive;
}


.manu a:hover{
    
    
    color: blue;
}


aside{
    
    
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}

h1{
    
    
    margin: 0px;
    color: #869843;
    font-size: 24px;
    font-family: "Arial narrow", "Mayriad Pro";
    font-weight: normal;
}


h2{
    
    color: #3b7;
    font-size: 15px;
    margin: 20px 0 5px 0;
     
    
}


.main{
    
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: #444444;
    font-family:sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-emphasis: justify;
    
    
}

.main a:hover {
    color: #44444444;
    
    
}

#home-image img{
    
    
    width: 100%;
    
}





footer{
    
    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family: monospace;
    font-size: 11px;
    text-decoration: right;
}






footer a{
    
    text-decoration: none;
    color: #26262626;
}


.separator{
    
    color: #FFFFFF;
    font-size: 11px;
    
}





/************************About Page Style*************************/

#about-page #home-image img{
    
    width: 70%;
    float: left;
    margin-bottom: 20px;
    
}



#about-page #profile-info{
    
    float: right;
    width: 20%;
    margin: 5px;
    
    
}

#about-page .description
{
    clear: both;
}
/*********************contact page*******************************/
#contact #form{
    
    width: 500px;
    box-shadow: 1px 2px 4px 6px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    border-radius: 5px;
                }



#contact #form input{
    
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: #D6D6D6;
    
    
}


#contact #form #message{
    
    width:100%;
    border-radius: 5px;
    background: #D6D6D6;
}



#contact .page-heading{
    text-align: center;
    margin: 20px;
    
    
}


#contact #form #submit{
    height: 30px;
    background: #3b7;
}











